/* .container {
    width: 900px;
    height: 900px;
}  */

.img1 {
    width: 400px;
    height: 400px;
}

.secondcontainer {
   margin: 40px auto;
    width: 400px;
    height: 1100px;
}

#pills-tab {
    margin: 30px auto;
}

.myfirstphoto {
    width: 400px;
    height: 30px;
    background-color: white;
    /* border: dashed red 1px; */
}

.post {
    width: 400px;
    height: 80px;
    /* border: dashed green 1px; */
    background-color: white;
}

.whitespace {
    width: 400px;
    height: 10px;
    /* border: dashed purple 1px; */
    background-color: lightgray;

}

.entirescreen {
    width: 100%;
    height: 1800px;
    background-color: lightgray
}

.space {
    width: 400px;
    height: 20px;
}

.date {
 position: relative; 
 left: 364px;
 bottom: 41px;
}

.hashtag {
    position: relative;
    top: 18px;
}


